/** Gray Scale */
$white100: #ffffff;
$light100: #f8f8f8;
$middle20: #e7e7e7;
$middle40: #cfcfcf;
$middle100: #888888;
$dark100: #3e3e3e;
$black100: #000000;

/** System Color */
$red100: #e40000;
$blue100: #0085ff;
$green100: #00c142;

/** Brand Color */
$primary100: #ff480d;
$secondary100: #ffefea;
$gradient: linear-gradient(322.5deg, #ff480d 19.41%, #ff9573 73.1%);

/** font-size */
$fontSize_ss: 12px;
$fontSize_sm: 14px;
$fontSize_sl: 15px;

$fontSize_ms: 16px;
$fontSize_mm: 20px;
$fontSize_ml: 24px;

$fontSize_ls: 36px;

/** font-weight */
$fontWeight_100: 100;
$fontWeight_200: 200;
$fontWeight_300: 300;
$fontWeight_400: 400;
$fontWeight_500: 500;
$fontWeight_600: 600;
$fontWeight_700: 700;
