@import '@styles/constants.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  .header_wrapper {
    padding: 30px;
    .header {
      border-bottom: 1px solid $C_Gray40;
      color: $C_Black;
      font-size: $FS_ls;
      padding-bottom: 12px;
    }
  }
  .house_info_wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 50px;
    .introduce_house {
      display: flex;
      gap: 45px;
      table {
        border-collapse: collapse;
        color: $C_Black;
        width: 500px;
      }
      td,
      th {
        border: 1px solid $C_Black;
        text-align: left;
        padding: 8px;
      }
      .table_right {
        text-align: center;
      }
      tr:nth-child(odd) {
        background-color: $C_Gray20;
      }
    }
    .house_price_info {
      display: flex;
      gap: 10px;
      .chart_container {
        display: flex;
        flex-direction: column;
        gap: 15px;
        .chart_header {
          display: flex;
          justify-content: space-between;
          .chart_tab_list {
            display: flex;
            gap: 20px;
            .chart_tab {
              color: $C_Black;
              cursor: pointer;
            }
            .chart_tab.active {
              border-bottom: 2px solid $C_Red20;
            }
          }
        }
        .chart_body {
          width: 500px;
          height: 300px;
        }
      }
      .real_deal {
        display: flex;
        flex-direction: column;
        width: 100%;
        .table_container {
          height: 350px;
          overflow: auto;
          table {
            border-collapse: collapse;
            color: $C_Black;
            width: 100%;
          }
          td,
          th {
            border: 1px solid $C_Black;
            text-align: left;
            padding: 8px;
          }
          .table_right {
            text-align: center;
          }
          thead tr {
            background-color: $C_Gray20;
          }
        }
      }
    }
  }
}
