@import '@styles/constants.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  .header_wrapper {
    padding: 30px;
    .header {
      border-bottom: 1px solid $C_Gray40;
      padding: 0 30px;
      color: $C_Black;
      font-size: $FS_ls;
      padding-bottom: 12px;
    }
  }
  .house_info_wrapper {
    display: flex;
    flex-direction: column;
    margin: auto;
    .introduce_house {
      display: flex;
      gap: 45px;
      table {
        width: 500px;
        color: $C_Black;
        border: 1px solid $C_Black;
        tr,
        td,
        th {
          border: 1px solid $C_Black;
          font-weight: 400;
        }
      }
    }
    .house_price_info {
    }
  }
}
